<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <p>This page was viewed {{ counter }} times</p>
  </body>
</html>
